.collapse {
  max-width: 1023px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 45%;
}

.collapse--header {
  background-color: #FF6060;
  height: 30px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.collapse--header:hover {
  cursor: pointer;
}

.collapse--expanded p,
.collapse--expanded li {
  color: #FF6060;
  line-height: 17px;
}

.collapse--expanded p,
.collapse--expanded ul {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 25px 15px 50px 15px;
  margin: 0;
}

.collapse--expanded p {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 25px 15px 50px 15px;
  margin: 0;
}

.collapse--expanded ul {
  padding-left: 15px;
  padding-bottom: 0;
}

.collapse--expanded li {
  list-style-type: none;
}

.arrow-up {
  transform: rotate(180deg);
}

@media screen and (min-width: 1080px) {

  .collapse--header,
  .collapse--expanded p {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  .collapse--header {
    height: 47px;
    padding: 0 2%;
  }

  .collapse--expanded p {
    padding: 30px 0px 10px 20px;
    margin: 0;
    line-height: 34px;
    font-weight: 300;
  }

  .collapse--expanded ul {
    padding: 30px 12px 27px 20px;
  }

  .collapse--expanded li {
    font-size: 1.5em;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
  }

}