.carousel {
  position: relative;
}

.slide-image img {
  object-fit: cover;
  width: 100%;
  height: 255px;
  border-radius: 10px;
  background-color: grey;
}

.arrow-left,
.arrow-right {
  filter: brightness(1);
  width: 2em;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.arrow-left {
  left: 0;
  transform: rotate(90deg);
}

.arrow-right {
  right: 0;
  transform: rotate(-90deg);
}

@media screen and (min-width: 1080px) {
  .slide-image img {
    height: 415px;
    border-radius: 25px;
  }
}